@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
 text-align: center;
 color: whitesmoke;
 line-height: 1.5;
 letter-spacing: 1px;
}
.wrapper{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('wedding-caterers-sydney-e1629788409535.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonial{
    padding: 30px 100px;
}
article h1{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
article h1:after{
    content: "";
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin: auto;
}
blockquote{
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 30px;
    letter-spacing: 1.5px;
}
article h5{
    text-transform: lowercase;
    font-size: 20px;
    margin-top: 30px;
}
/* Footer */
footer {
  background-color: #1f1f1f;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
}

footer a {
  color: #e91e63;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}